*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
*.bak
build/*
*/build/*
.idea/*
.gradle/*
.externalNativeBuild
gradle/*
local.properties
lebang-android.properties
*.iml
.DS_Store
gradle.properties
*.hprof
dbMaster/
www/*
